@font-face {
  font-family: 'Arkhip';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/arkhip_font.ttf) format('truetype'), url(../fonts/arkhip_font.otf) format('opentype');
}
 

@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/menlo-regular.ttf) format('truetype');
}
