.ic{
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 18px;
    margin-right: 10px;
}
.ic--phone{
    /* width: 16px */
    /* height: 20px */
    background-image: url(../img/icons/ic_phone.svg);
}
.ic--location{
    /* width: 15px */
    /* height: 18px */
    background-image: url(../img/icons/ic_location.svg);
}
.ic--dropdown{}
.ic--user{
    /* width: 16px */
    /* height: 18px */
    background-image: url(../img/icons/ic_user.svg);
}
.ic--cart{
    /* width: 16px */
    /* height: 17px */
    background-image: url(../img/icons/ic_cart.svg);
}
.ic--search{
    /* width: 17px */
    /* height: 17px */
    background-image: url(../img/icons/ic_search.svg);
}
.ic--more{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color_action);
    font-style: normal;
    text-align: center;
    transform: rotate(90deg);
    font-size: var(--text-normal);
}

.ic--plus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color_action);
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}