/* container */
/* .container-outer { */
    /* max-width: 1770px; */
    /* max-width: var(--grid-outer); */
    /* margin: auto; */
/* } */

.container-inner{
    max-width: var(--grid-max);
    margin: auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width:  var(--grid-column);
}
.col-2{
    width: calc(var(--grid-column) * 2);
}

.col-3{
    width: calc(var(--grid-column) * 3);
}
.col-4{
    width: calc(var(--grid-column) * 4);
}
.col-5{
    width: calc(var(--grid-column) * 5);
}
.col-6{
    width: calc(var(--grid-column) * 6);
}

/* COMMON */
.decor{
    display: block;
    width: var(--grid-column);
    background-image: url(../img/decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.decor--full{
    height: 80px;
}
.decor--half{
    height: 40px;
}
.decor--bottom{
    background-position: bottom center;
}
.decor-bar{
    display: flex;
    position: relative;
}
.decor-bar--lg{
    padding: 65px 0 20px;
}
.decor-bar--sm{
    /* display: flex; */
}
.decor-bar--down{
    position: relative;
    top: 40px;
}
.decor-bar--top{
    position: relative;
    align-items: flex-end;
    top: -40px;
}
.decor-to--left{
    margin-left: calc(var(--grid-column) * -1);
}

/* MENU ITEMS */
.menu-list{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menu-list a {
    display: flex;
    align-items: center;
}

/* FLEX */
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

/* SPACINGS */
.mt50{
    margin-top: 50px;
}