//container
.container-outer
    max-width: 1770px

.container-inner
    max-width: $grid-max

.row
    width: 100%
    display: flex
    flex-wrap: wrap

.col-1
    // width: calc(100% / 6)
    width: $grid-column

.col-2
    // width: calc(100% / 3)
    width: calc($grid-column * 2)

.col-3
    // width: 50%
    width: calc($grid-column * 3)

.col-4
    // width: calc(100% / 6 * 4)
    width: calc($grid-column * 4)

.col-5
    // width: calc(100% / 6 * 5)
    width: calc($grid-column * 5)

.col-6
    // width: 100%
    width: calc($grid-column * 6)