/* container */
.container-outer {
    max-width: 1770px;
}

.container-inner{
    max-width: var(--grid-max);
    margin: auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width:  var(--grid-column);
}
.col-2{
    width: calc(var(--grid-column) * 2);
}

.col-3{
    width: calc(var(--grid-column) * 3);
}
.col-4{
    width: calc(var(--grid-column) * 4);
}
.col-5{
    width: calc(var(--grid-column) * 5);
}
.col-6{
    width: calc(var(--grid-column) * 6);
}

/* COMMON */
.decor{
    display: block;
    width: var(--grid-column);
    background-image: url(../img/decor.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.decor--full{
    height: 78px;
}
.decor--half{
    height: 39px;
}
.decor--bottom{
    background-position: bottom center;
}

.decor-bar--lg{
    display: flex;
    padding: 65px 0 20px;
}
.decor-bar--sm{
    display: flex;
}
.decor-bar--down{
    position: relative;
    top: 39px;
}
.decor-bar--top{
    align-items: flex-end;
    position: relative;
    top: -39px;
}
/* TOP BAR */

.top-bar{
    justify-content: flex-end;
}
.top-bar__menu{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    padding: 20px 0 ;
}
/* .top-bar__item:not(:last-child){
    margin-right: 25px;
} */
.top-bar__link {
    display: flex;
    align-items: center;
}
.top-bar__menu--main{
    margin-left: -12px;
}
.top-bar__menu--main .top-bar__link{
    padding: 0 12px;
}
.top-bar__menu--ic{
    margin-left: -5px;
}
.top-bar__menu--ic .top-bar__link{
    padding: 0 5px;
}

.lang-switcher {
    padding: 0 0 0 20px;
    list-style-type: none;
    display: flex;
}

/* FLEX */
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

/* SPACINGS */
.mt50{
    margin-top: 50px;
}