/* container */
/* .container-outer { */
    /* max-width: 1770px; */
    /* max-width: var(--grid-outer); */
    /* margin: auto; */
/* } */

.container-inner{
    max-width: var(--grid-max);
    margin: auto;
    position: relative;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width:  var(--grid-column);
}
.col-2{
    width: calc(var(--grid-column) * 2);
}

.col-3{
    width: calc(var(--grid-column) * 3);
}
.col-4{
    width: calc(var(--grid-column) * 4);
}
.col-5{
    width: calc(var(--grid-column) * 5);
}
.col-6{
    width: calc(var(--grid-column) * 6);
}

/* COMMON */
.decor{
    display: block;
    width: var(--grid-column);
    background-image: url(../img/decor.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.decor--full{
    height: 80px;
}
.decor--half{
    height: 40px;
}
.decor--bottom{
    background-position: bottom center;
}
.decor-bar{
    display: flex;
    position: relative;
}
.decor-bar--lg{
    padding: 65px 0 20px;
}
.decor-bar--sm{
    /* display: flex; */
}
.decor-bar--down{
    position: relative;
    top: 40px;
}
.decor-bar--top{
    position: relative;
    align-items: flex-end;
    top: -40px;
}
.decor-to--left{
    margin-left: calc(var(--grid-column) * -1);
}
.decor-to--top{
    margin-top: -40px;
}
.decor-bar-absolute{
    position: absolute;
    width: 100%;
    top: -40px;
}

/* MENU ITEMS */
.menu-list{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menu-list a {
    display: flex;
    align-items: center;
}
/* .menu-list-link{
    font-size: var(--text-big);
    line-height: 1.2;
    padding: 10px 20px;
}
.menu-list-link.active{
    color: var(--color_action);
    position: relative;
} */
.menu-list-link.active::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--color_action);
    border-radius: 50%;
    top: 10px;
    right: 10px;
}

/* FLEX */
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-start{
    align-self: flex-start;
}

.w100{
    width: 100%;
}
/* SPACINGS */
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.mt80{
    margin-top: 80px;
}

.mb25{
    margin-bottom: 25px;
}