.priority{
    background-color: var(--color_primary);
    margin-left: calc(var(--grid-column) * -.5);
    margin-right: calc(var(--grid-column) * -.5);
    padding: 60px calc(var(--grid-column) * .5) 105px;
    position: relative;
}
.priority::before{
    content: '';
    display: block;
    height: 160px;
    width: 90px;
    background-image: url(../img/brand/round_text@3x.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -5px;
    margin-left: 10px;
}
.priority::after{
    content: '';
    display: block;
    height: 50px;
    width: 65px;
    background-image: url(../img/brand/watermark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -33px;
    right: 13px;
}
@media(min-width:768px){
    .priority{
        padding: 95px calc(var(--grid-column) * .5) 105px;
    }
}
@media(min-width:1280px){
    .priority::after{
        height: 120px;
        width: 140px;
        bottom: -59px;
        right: 30px;
    }
}
.priority__texts{
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .ptiority__image{
    width: 45%;
} */
.priority__description{
    padding-right: 0;
    margin: 35px 0;
}

.priorty__buttons{
    flex-wrap: wrap;
}
.priorty__buttons .btn{
    width: 100%;
    margin-bottom: 30px;
}
@media(max-width:767px){
    .priority__title{
        font-size: 20px;
        margin-bottom: 30px;
        letter-spacing: -1.2px;
    }
}
@media(min-width:768px){
    /* .priority__texts{
        width: 100%;
    } */
    .priority__image{
        /* width: 100%; */
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .priority__description{
        margin-bottom: 50px;
        padding-right: 30px;
        margin-top: 0;
    }
    .priorty__buttons .btn{
        width: calc(50% - 7px);
        margin-bottom: 0;
    }
}
@media(min-width:1280px){
    .priority__texts{
        width: 55%;
    }
    .priority__image{
        width: 45%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .priority__description{
        margin-bottom: 0;
    }
    .priorty__buttons .btn{
        width: 195px;
    }
}