*
    box-sizing: border-box

html 
    font-family: $main_font
    -webkit-font-smoothing: antialiased
    @extend %font-text
    color: $color_text

html, body
    margin: 0
    height: 100vh

h1,h2,h3,h4,h5,h6
    font-weight: normal
    line-height: 1.2

a
    color: inherit
    text-decoration: none
    transition: $transition
    &:hover
        color: $color_action

ul li
    color: inherit