:root{
    /* grid */
    --grid-count: 4;
    --grid-column: calc(100% / var(--grid-count));
    --grid-max: 1280px;
}
@media (min-width:1280px) {
    :root{
        --grid-count: 6;
        --grid-max: 1280px;
    }
}
:root{
    /* fonts */
    --main_font: 'Menlo', 'sans-serif';
    --titles_font: 'Arkhip', 'sans-serif';

    /* font sizes */
    --text-normal: 14px;
    --text-small: 12px;
    --text-big: 18px;

    /* colors */
    --color_action: #d6da4a;
    --color_text: #343a49;
    --color_white: #ffffff;
    --color_placeholder: #c6c7c9;
   
    /* common styles */
    --transition: all .3s ease;
}